[Unit]
Description=Pyteros device server
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=main
ExecStart=/home/main/pyteros/run_server.sh

[Install]
WantedBy=multi-user.target

